

  <nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
    <a class="navbar-brand" href="#">ADMIN PORTAL</a>
  
  
    <div class="collapse navbar-collapse"  *ngIf="loggedIn">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item active">
          <a class="nav-link" href="#">View Book List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Add a Book</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
       
      </ul>
     
    </div>
  </nav>

  <div class="container">
    <button mat-button (click)="onSubmit()"> Basic</button>
    
  </div>