
<div class = container  >
   <div>

   <div *ngIf="isLoading" style="text-align: center;">
      <mat-spinner class = "tp-margin"
                  [color] = "color"
                  [mode] = "mode"
                  [value] = "value">
      </mat-spinner>
</div> 
 
<form #authForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading"  >
    <mat-card >
        <mat-card-title>Sign In</mat-card-title>
      <mat-card-content> 
          
       <div class="row">
         <div class="col-lg-6" >
           <mat-form-field appearance="outline">
               <mat-label>Username</mat-label>
               <input  matInput 
                       [(ngModel)]="model.username"
                       name="username"
                       required
                       >
           </mat-form-field>
        </div>
        <div class="col-lg-6">
           <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput 
                   type="password"
                   id="password"
                   required
                   [(ngModel)]="model.password"
                   name="password"
                   minlength="2"
                   >
                   
        </mat-form-field>
        </div>
       </div>
       <div class="example-button-row">
       <button mat-raised-button
               color="primary"
               type="submit"
              >sign in
      </button>
      </div>
    </mat-card-content>
       </mat-card>
      
  </form>
</div>
</div>
